
.contact_section {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-around;
  align-content: center;
  background-color: #fff;
  padding: 3em 5em;
}

.contact-section {
  -webkit-order: 0;
  -ms-flex-order: 0;
  order: 0;
  -webkit-flex: 0 1 auto;
  -ms-flex: 0 1 auto;
  flex: 0 1 auto;
  -webkit-align-self: auto;
  -ms-flex-item-align: auto;
  align-self: auto;
  width: 30em;
}

.contact_section_phone, .contact_section_email {
  text-decoration: none;
  color: inherit;
}

.contact_section {
  address {
    padding-top: 1em;
    line-height: 1.5em;
    display: inline-block;
  }
  p {
    display: inline-block;
    width: 12em;
    padding-left: 3em;
  }
}
