
.contact_section {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-around;
  align-content: center;
  background-color: #fff;
  padding: 3em 5em;
  @include flexbox;
}

.contact_section_phone, .contact_section_email {
  text-decoration: none;
  color: inherit;
}

.contact_section {
  address {
    padding-top: 1em;
    line-height: 1.5em;
    display: inline-block;
  }
  p {
    display: inline-block;
    width: 12em;
    padding-left: 3em;
  }
}
