// .blog-details {
// 	display: block;
// 	line-height: 200%;
// 	font-family: $font-main;
// 	text-align: center;
// 	h1 {
// 		font-weight: bold;
// 		font-size: 2em;
// 	}
// 	li {
// 		display: inline;
// 		padding-right: 1.5em;
// 		font-style: italic;
// 	}
// 	a {
// 		@include button-mock($color-1, #fff);
// 	}
// }

.edit-button {
	@include button-mock($color-1, #fff);
	font-size: .7em;
	margin-left: 0;
}
.back-button {
	@extend .edit-button;
}

@media screen and (max-width: 50em) {
	.blog-details{
		a{
			width: 40%;
			margin-left: 23%;
		}
		button{
			width: 60%;
			margin-left: 5%
		}
	}
}
