
.blog_post {
  padding: 2em 5em;
  font-family: $font-main;
  min-width: 45em;
  margin: auto;
  width: 70%;
  h2 {
    padding-top: 1em;
    font-size: 1.8em;
    font-weight: 500;
  }
  p {
    font-size: 1.2em;
    line-height: 1.5;
    padding-top: 1.5em;
    font-weight: 300;
    color: $color-2;
  }
  .full-post {
    padding-bottom: 2em;
  }
  button {
    @include button-mock ($color-1);
    float: right;
  }
}

.blog_info {
  padding-top: 2em;
  padding-bottom: 2em;
  ul {
    font-weight: 300;
    color: $color-2;
    display: inline-block;
    float: left;
    font-style: italic;
    list-style-type: none;
    padding-top: 0.5em;
    font-size: 0.8em;
    :nth-child(2):before {
      content: '\b7\a0';
    }
    :nth-child(3):before {
      content: '\b7\a0';
    }
    li {
      display: inline;
    }
  }
  .read_more {
    text-decoration: none;
    text-transform: uppercase;
    color: #fff;
    padding: .9em 3em;
    border: 1px solid;
    border-radius: .5em;
    font-size: .8em;
    letter-spacing: .1em;
    background-color: #000;
    display: inline-block;
    float: right;
    &:hover {
      background-color: $color-3;
      color: #000;
      border-color: $color-3;
    }
  }
}
