
.section_contact {
  @include flexbox(stretch, space-between);
  background-color: #fff;
  padding: 3em 10em;
  address {
    padding-top: 1em;
    line-height: 1.5em;
    display: inline-block;
  }
  p {
    display: inline-block;
    width: 12em;
    padding-left: 3em;
  }
}

.section_contact_phone, .section_contact_email {
  text-decoration: none;
  color: inherit;
}

@media screen and (max-width: 50em) {
  .section_contact {
    padding:3em 1em;
    address{
      margin-bottom: 1em;
    }
    p{

    }
  }
  .section_contact_phone, .section_contact_email {
  
  }
}
